.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  margin-bottom: 40px;
  display: block;
  max-width: 200px;
  background-color: blue;
  color: #fff;
  text-align: center;
}

.coin {
  display: inline-block;
  margin-right: 20px;
}